<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">"Framework" Example Application</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#dataBindingExample">Data Binding</a></li>
                    <li><a href="#gravatar">Gravatar</a></li>
                    <li><a href="#github">Remote Data</a></li>
                    <li><a href="#template">Advanced Template</a></li>
                    <li><a href="#foo/bar/baz">Nested Route</a></li>
                    <li><a href="#foo">Foo</a></li>
                    <li><a href="#bar">Bar</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/kidGodzilla/framework" style="font-size:200%"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="outlet"></div>

    <hr style="margin-top: 250px">

    <h2>Readme</h2>

    <p>Some totally unrelated things that might let you get away with not using a more complicated framework. I wrote it in about a day.</p>



    <div class="well">
        <article class="markdown-body entry-content" itemprop="mainContentOfPage">

            <h2><a id="user-content-about" class="anchor" href="#about" aria-hidden="true"><span class="octicon octicon-link"></span></a>About</h2>

            <p>When the big frameworks were shiny and new, they brought massive amounts of power to the Javascript language. Seeing a front-end template rendered, and then re-rendered and manipulated in real time, seemed like some kind of black magic, as did data binding, routing, and any of the other techniques used to build real applications in Javascript.</p>

            <p>However, their popularity has completely transformed the Javascript language, and today many of the big ideas that made applications possible in Javascript have been reduced from giant libraries to native functions, often with greater simplicity &amp; refinement. While we owe a great deal to those who pioneered these techniques in some of the major frameworks (still popular today), replicating some of their most powerful features has become a much simplier task.</p>

            <p>To demonstrate this, I created a very small (~300 loc) "framework" called <strong>Framework</strong>. Ideally, you might learn something from it, or use it to gain insight into where the javascript language (and frameworks!) could move once new features like <code>Object.observe</code> are implemented. Thanks for looking!</p>

            <br><br>

            <h4><a id="user-content-model" class="anchor" href="#model" aria-hidden="true"><span class="octicon octicon-link"></span></a>Model</h4>

            <ul>
                <li>App.data <code>{}</code></li>
                <li>Getters &amp; Setters</li>
                <li>One-way data binding</li>
            </ul>

            <h4><a id="user-content-views" class="anchor" href="#views" aria-hidden="true"><span class="octicon octicon-link"></span></a>Views</h4>

            <ul>
                <li>Templating</li>
                <li>Routing</li>
            </ul>

            <h4><a id="user-content-controllers" class="anchor" href="#controllers" aria-hidden="true"><span class="octicon octicon-link"></span></a>Controllers</h4>

            <ul>
                <li>Obsolete much?</li>
            </ul>

            <h2><a id="user-content-features" class="anchor" href="#features" aria-hidden="true"><span class="octicon octicon-link"></span></a>Features</h2>

            <h4><a id="user-content-template-engine" class="anchor" href="#template-engine" aria-hidden="true"><span class="octicon octicon-link"></span></a>Template engine</h4>

            <ul>
                <li>String Interpolation with javascript objects</li>
                <li>For loops</li>
                <li>Switch statements</li>
                <li>Conditionals</li>
            </ul>

            <h4><a id="user-content-router" class="anchor" href="#router" aria-hidden="true"><span class="octicon octicon-link"></span></a>Router</h4>

            <ul>
                <li>Automatically registers templates -&gt; routes</li>
                <li>Loads the correct route from URL</li>
                <li>Handles forward / backward state changes</li>
                <li>Intercepts [href] click events (through delegation) &amp; routes them</li>
                <li>Automatically passes URL parameters (additional, unused route segments) to routing function</li>
            </ul>

            <h2><a id="user-content-approximate-size" class="anchor" href="#approximate-size" aria-hidden="true"><span class="octicon octicon-link"></span></a>Approximate Size</h2>

            <p><strong>Core Object:</strong> 160 loc
                <br><strong>Data Binding:</strong> 20 loc
                <br><strong>Utils:</strong> 32 loc
                <br><strong>Router:</strong> 112 loc
                <br><strong>Template Engine:</strong> 50 loc</p>

            <h2><a id="user-content-usage" class="anchor" href="#usage" aria-hidden="true"><span class="octicon octicon-link"></span></a>Usage</h2>

            <h4><a id="user-content-importing-dependencies" class="anchor" href="#importing-dependencies" aria-hidden="true"><span class="octicon octicon-link"></span></a>Importing Dependencies</h4>

            <p>Take a close look at <code>loader.js</code>. This provides you a few simple hooks to load dependencies, either locally or from a CDN.</p>

            <h4><a id="user-content-creating-templates" class="anchor" href="#creating-templates" aria-hidden="true"><span class="octicon octicon-link"></span></a>Creating Templates</h4>

            <p>Templating.js includes a feature-complete template engine, &amp; any templates in your document will automatically become routes &amp; views. Simply use the following syntax:</p>

            <div class="highlight highlight-html"><pre>&lt;<span class="pl-ent">template</span> <span class="pl-e">data-pathname</span>=<span class="pl-s"><span class="pl-pds">"</span>index<span class="pl-pds">"</span></span>&gt;
  &lt;<span class="pl-ent">h2</span>&gt;Your content here&lt;/<span class="pl-ent">h2</span>&gt;
&lt;/<span class="pl-ent">template</span>&gt;</pre></div>

            <ul>
                <li>You should specify, at minimum, an index template.</li>
            </ul>

            <h4><a id="user-content-more-advanced-templating" class="anchor" href="#more-advanced-templating" aria-hidden="true"><span class="octicon octicon-link"></span></a>More Advanced Templating</h4>

            <p>Syntax for most things (conditionals, loops) tracks very closely to underscore.js &amp; lodash.</p>

            <div class="highlight highlight-html"><pre>&lt;<span class="pl-ent">template</span> <span class="pl-e">data-pathname</span>=<span class="pl-s"><span class="pl-pds">"</span>index<span class="pl-pds">"</span></span>&gt;
  &lt;% if (App.data.pageTitle) { %&gt;
    &lt;<span class="pl-ent">h2</span>&gt;&lt;% App.data.pageTitle %&gt;&lt;/<span class="pl-ent">h2</span>&gt;
  &lt;% } %&gt;

  &lt;<span class="pl-ent">ul</span>&gt;
  &lt;% for (var index in items) { %&gt;
    &lt;% items[index] %&gt;
  &lt;% } %&gt;
  &lt;/<span class="pl-ent">ul</span>&gt;
&lt;/<span class="pl-ent">template</span>&gt;</pre></div>

            <h4><a id="user-content-linking-to-routes" class="anchor" href="#linking-to-routes" aria-hidden="true"><span class="octicon octicon-link"></span></a>Linking to Routes</h4>

            <p>Anything with an <code>href</code> attribute will be observed using event delegation. If you link to a hash, it will be handled automatically.</p>

            <div class="highlight highlight-html"><pre>&lt;<span class="pl-ent">template</span> <span class="pl-e">data-pathname</span>=<span class="pl-s"><span class="pl-pds">"</span>index<span class="pl-pds">"</span></span>&gt;
  &lt;<span class="pl-ent">a</span> <span class="pl-e">href</span>=<span class="pl-s"><span class="pl-pds">"</span>#foo<span class="pl-pds">"</span></span>&gt;foo&lt;/<span class="pl-ent">a</span>&gt;
  &lt;<span class="pl-ent">h3</span>&gt;Index&lt;/<span class="pl-ent">h3</span>&gt;
&lt;/<span class="pl-ent">template</span>&gt;

&lt;<span class="pl-ent">template</span> <span class="pl-e">data-pathname</span>=<span class="pl-s"><span class="pl-pds">"</span>foo<span class="pl-pds">"</span></span>&gt;
  &lt;<span class="pl-ent">a</span> <span class="pl-e">href</span>=<span class="pl-s"><span class="pl-pds">"</span>#<span class="pl-pds">"</span></span>&gt;Go Home&lt;/<span class="pl-ent">a</span>&gt;
  &lt;<span class="pl-ent">h3</span>&gt;foo!&lt;/<span class="pl-ent">h3</span>&gt;
&lt;/<span class="pl-ent">template</span>&gt;</pre></div>

            <h4><a id="user-content-programmatic-route-transitions" class="anchor" href="#programmatic-route-transitions" aria-hidden="true"><span class="octicon octicon-link"></span></a>Programmatic Route Transitions</h4>

            <p>Need to hook into a route transition from within your app? No problem! Simply call:</p>

            <div class="highlight highlight-javascript"><pre>Router.<span class="pl-c1">routeTo</span>(<span class="pl-k">&lt;</span>route<span class="pl-k">-</span>name<span class="pl-k">&gt;</span>);</pre></div>

            <h4><a id="user-content-data-modeling" class="anchor" href="#data-modeling" aria-hidden="true"><span class="octicon octicon-link"></span></a>Data Modeling</h4>

            <p>Getter and Setter methods are provided as <code>App.get()</code> and <code>App.set()</code> for very basic data management. See an example:</p>

            <div class="highlight highlight-javascript"><pre><span class="pl-k">var</span> name <span class="pl-k">=</span> <span class="pl-c1">prompt</span>(<span class="pl-s"><span class="pl-pds">'</span>what is your name?<span class="pl-pds">'</span></span>);
App.<span class="pl-c1">set</span>(<span class="pl-s"><span class="pl-pds">'</span>name<span class="pl-pds">'</span></span>, name);

<span class="pl-c">// Later</span>
<span class="pl-c1">alert</span>(<span class="pl-s"><span class="pl-pds">'</span>I remember your name! It<span class="pl-pds">'</span></span>s <span class="pl-s"><span class="pl-pds">'</span> + App.get(<span class="pl-pds">'</span></span>name<span class="pl-s"><span class="pl-pds">'</span>));</span></pre></div>

            <h4><a id="user-content-data-binding" class="anchor" href="#data-binding" aria-hidden="true"><span class="octicon octicon-link"></span></a>Data Binding</h4>

            <p>"Framework" implements a wrapper around <code>Object.observe()</code> to facilitate one-way data binding in modern browsers. If your browser doesn't support this, you might need a <a href="https://github.com/MaxArt2501/object-observe" target="_new">polyfill</a>.</p>

            <div class="highlight highlight-javascript"><pre><span class="pl-c">// Logs to the console whenever Binding.data.previousRouteUnloadFunction is changed</span>
Binding.<span class="pl-c1">bind</span>(<span class="pl-s"><span class="pl-pds">'</span>previousRouteUnloadFunction<span class="pl-pds">'</span></span>, <span class="pl-k">function</span> (<span class="pl-smi">newValue</span>) {
    <span class="pl-en">console</span><span class="pl-c1">.log</span>(newValue);
});</pre></div>

            <h4><a id="user-content-event-delegation" class="anchor" href="#event-delegation" aria-hidden="true"><span class="octicon octicon-link"></span></a>Event Delegation</h4>

            <p>Just use jQuery (1.6+)! It offers very nice syntax for event delegation:</p>

            <div class="highlight highlight-javascript"><pre><span class="pl-c">// Log to the console when #foo is clicked</span>
$(<span class="pl-s"><span class="pl-pds">'</span>body<span class="pl-pds">'</span></span>).<span class="pl-c1">on</span>(<span class="pl-s"><span class="pl-pds">'</span>click<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>#foo<span class="pl-pds">'</span></span>, <span class="pl-k">function</span> () {
  <span class="pl-en">console</span><span class="pl-c1">.log</span>(<span class="pl-s"><span class="pl-pds">'</span>#foo was clicked!<span class="pl-pds">'</span></span>);
});</pre></div>

            <p>Alternatively, if you are coming from AngularJS &amp; enjoy it's declarative syntax, you could try javascript's built-in, declarative event-binding syntax:</p>

            <div class="highlight highlight-html"><pre>&lt;<span class="pl-ent">a</span> <span class="pl-e">onclick</span>=<span class="pl-s"><span class="pl-pds">"</span>Router.goBack()<span class="pl-pds">"</span></span>&gt;Go Back&lt;/<span class="pl-ent">a</span>&gt;
&lt;<span class="pl-ent">a</span> <span class="pl-e">onclick</span>=<span class="pl-s"><span class="pl-pds">"</span>App.addNewItem()<span class="pl-pds">"</span></span>&gt;Add New Item&lt;/<span class="pl-ent">a</span>&gt;
&lt;<span class="pl-ent">input</span> <span class="pl-e">id</span>=<span class="pl-s"><span class="pl-pds">"</span>input2<span class="pl-pds">"</span></span> <span class="pl-e">type</span>=<span class="pl-s"><span class="pl-pds">"</span>text<span class="pl-pds">"</span></span> <span class="pl-e">onkeyup</span>=<span class="pl-s"><span class="pl-pds">"</span>App.handleBoundData('#input2')<span class="pl-pds">"</span></span>&gt;</pre></div>

            <p>See <a href="http://www.w3schools.com/jsref/dom_obj_event.asp">http://www.w3schools.com/jsref/dom_obj_event.asp</a> for a longer list of DOM events.</p>

            <h4><a id="user-content-utilities-data-manipulation-ajax-etc" class="anchor" href="#utilities-data-manipulation-ajax-etc" aria-hidden="true"><span class="octicon octicon-link"></span></a>Utilities, Data Manipulation, Ajax, etc.</h4>

            <p>Between lodash &amp; jQuery, you should be fine.</p>
        </article>
    </div>
</div>


<template data-pathname="index">
    <div class="text-center">
        <br><br><br>
        <h1>"Framework" Example Application Demo</h1>
        <a class="" href="#dataBindingExample">Data Binding Example</a> |
        <a class="" href="#gravatar">Gravatar Example</a>    |
        <a class="" href="#github">Remote Data Example</a> |
        <a class="" href="#template">Advanced Template Example</a>   |
        <a class="" href="#foo/bar/baz">Nested Route Example</a>
    </div>
</template>

<template data-pathname="foo">
    <h2 class="text-center">Foo!~</h2>
</template>

<template data-pathname="bar">
    <h2 class="text-center">Bar!</h2>
</template>

<template data-pathname="dataBindingExample">
    <div class="text-center">
        <h2>Data Binding Example</h2>
        <input type="text" id="input2" onkeyup="App.updateBoundData()" placeholder="Start typing here..">
        <h3 id="foo"></h3>
    </div>
</template>

<template data-pathname="foo/bar/baz">
    <h2 class="text-center">/foo/bar/baz!!1</h2>
</template>

<template data-pathname="template">
    <div class="col-sm-6 col-sm-offset-3">
        <h2><% App.data.templatePageTitle %></h2>

        <ul>
            <% for (var index in App.data.items) { %>
            <li><% App.data.items[index] %></li>
            <% } %>
        </ul>
    </div>
</template>

<template data-pathname="gravatar">
    <div class="text-center">
        <h2>Gravatar Example</h2>
        <hr>

        <input type="text" id="input3" onkeyup="App.updateGravatar()" placeholder="Enter your email here..">
        <br><br>
        <img id="gravatar" alt="">
        <br><hr>
    </div>
</template>

<template data-pathname="github">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Remote Data Example</h2>
            <hr>

            <h4>Latest Activity for kidgodzilla/framework</h4>

            <% if (App.data.githubData) { %>
            <div>
                <% for (var index in App.data.githubData) { %>
                <div width="100%">
                    <div style="width:100px;display:inline-block"><% App.data.githubData[index].actor.login %></div>
                    <div style="width:200px;display:inline-block"><% App.data.githubData[index].created_at %></div>
                    <div style="display:inline-block"><% App.data.githubData[index].type %></div>
                </div>
                <% } %>
            </div>
            <% } %>

            <br><hr>
        </div>
    </div>

</template>

<script src="js/core.js"></script>
<script src="js/loader.js"></script>
<script>
    Loader.loadScript('js/object.observe.min.js');
    Loader.loadScript('js/md5.js');
    Loader.loadScript('js/utils.js');
    Loader.loadScript('js/router.js');
    Loader.loadScript('js/template.js');
    Loader.loadScript('js/binding.js');
    Loader.loadScript('js/app.js');
</script>
</body>
</html>